.rule {
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
  text-align: left; }
  .rule > * {
    flex: 1 100%; }
  .rule > .collapsed .rule-header {
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px; }
  .rule .rule-header {
    background-color: #2ecc71;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding: 5px;
    color: #ecf0f1; }
    .rule .rule-header .id {
      padding-left: 10px;
      padding-right: 10px;
      order: 1; }
    .rule .rule-header .title {
      padding-left: 10px;
      order: 2; }
  .rule .rule-body {
    background-color: #bdc3c7;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding: 20px; }
  .rule .rule-header.failed {
    background-color: #e74c3c; }

.row {
  display: flex;
  flex-flow: row wrap; }
  .row .col-1 {
    flex: 100%; }
  .row .col-2 {
    flex: 50%; }

.field {
  font-size: 12px;
  margin-bottom: 5px; }
  .field > div {
    padding: 5px;
    background-color: #ecf0f1;
    font-family: Courier New, Courier, monospace;
    min-height: 18px; }
